body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #181818;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background: #f00;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

h1 {
    color: #f00;
}
